<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hegemol.taube.broker.mysql.TopicMapper">

    <resultMap id="Topic" type="org.hegemol.taube.broker.mysql.model.Topic" >
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        t.id,
		t.name,
		t.create_time,
		t.update_time
    </sql>

    <select id="select" resultMap="Topic">
        SELECT <include refid="Base_Column_List" /> FROM topic t;
    </select>

    <insert id="insert">
        INSERT INTO topic (name) VALUES (#{name});
    </insert>
</mapper>